/* CSS INCERCARE */

body,html {
	margin: 0px;
	height: 100%;
    background-image: url(../images/background2.jpg);
    background-repeat: repeat-x;	
}

.clear{
	clear: both;
}

.push{
	height: 135px;
}

.page{
	min-width: 1140px;
	min-height: 100%;
	margin-bottom: -100px;
	
}

.header{
	height: auto;	
}

.banda-header{
	width: 100%;
	padding-top: 50px;
	background-image: url(../images/banda-header.jpg);
	background-repeat: no-repeat;	
}

.adresa-banda{
	width: 400px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 50px;
}

.adresa-banda ul{
	list-style-type: none;
	padding: 0px;
	border: 0px;
}

.adresa-banda ul li{
	float:left;
	position: relative;
	margin-right: 20px;
	color:#fff;
}

.adresa-banda ul li img{
	float: left;
	position: relative;
	margin-right: 5px;
}

.adresa-banda ul li a{
	text-decoration: none;
	color: #fff;
}

.adresa-banda ul li a:hover{
	color: #F00;
}

.social{
	width: 200px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 1000px;
}

.social a{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 15px;
	border-radius: 5px;
	text-indent: -10000px;
	background: url(../images/social-sprite.png);
	transition: background-position 0.1s;
}

#facebook{
	background-position: left top;
}

#google{
	background-position: -60px top;
}

#facebook:hover{
	background-position: left -20px;
}
#google:hover{
	background-position: -60px -20px;
}

.logo{
	position: relative;
	margin: auto;
	width: 1100px;
	height: 140px;
	margin-top: 5px;
	background-color: #fff;
	border-radius: 20px;
	
}

#logoES{
	float: left;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
}

.logo h6{
	position: absolute;
	top: 75px;
	left: 25px;
	font-family: arial;	
}

#logoESCO{
	position: absolute;
	top: 90px;
	left: 80px;
}

#epc{
   position: absolute;
   top: 10px;
   left: 300px;
}

.limba{
	float: left;
	position: relative;
	width: 200px;
	margin-top: 5px;
	margin-left: 200px;	
	border: 1 px solid #0F0;
}

.limba ul{
	list-style-type: none;
}

.limba ul li{
	float: left;
	display: inline-block;
	margin-right: 30px;
}

.limba img {
  height: 25px;
  width: 25px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.limba img:hover {
  width: 60px;
  height: 60px;
}

.search{
	float: right;
	position: relative;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 30px;	
}

.tftextinput4{
		margin: 0;
		padding: 6px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#666;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;	
}

.tfbutton4 {
		margin: 0;
		padding: 0;
		width:30px;
		height:30px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		background-color: #33C;
		background-image: url(../images/searchbutton.png);
		background-repeat: no-repeat;
	}
	
/* Fixes submit button height problem in Firefox */
.tfbutton4::-moz-focus-inner {
	  border: 0;
}

.nav{
	position: absolute;
	top: 90px;
	left: 420px;
	width: 650px;
	height: 38px;
	/*background-color:#DDD;*/
	background-image: url(../images/background-meniu.png);
	background-repeat: no-repeat;
	/*border: solid 2px #33C;
	border-radius: 10px;*/
}

.nav ul {
	list-style-type: none;
	font-weight: bold;
	display: inline-block;
	margin: auto;
}

.nav ul li{
	float: left;
	position: relative;	
}

.nav ul li a{
	display: block;
	line-height: 38px;
	padding: 0px 15px;
	font-weight: bold;
	text-decoration: none;
	text-transform: lowercase;
	color: #000;
}
.nav ul li a:hover{
	background-color: #09F;
	border-radius: 5px;
}

.nav ul li ul li{
	float: none;	
}

.nav ul li ul{	
	position: absolute;
	top: 38px;
	left: 0px;
	z-index: 1000;
	width: 250px;
	/*background-image: url(../images/background-submeniu.png);
	background-repeat: no-repeat;*/
	background-color: #DDD;
	/*border: solid 2px #33C;*/
	border-radius: 10px;
	text-align: left;
	display: none;
}

.nav ul li ul li a{
   padding: 0px 15px; 
}

.nav ul li:hover ul{
	display: block;
}

/***************SERVICII*****************/
.servicii{
	width: 1200px;
	margin: auto;
	height: 525px;
	background-color: #e5f4f8;
	border: solid 2px #039;
	border-radius: 5px;
	padding: 25px;
	margin-bottom: 25px;
	
}

.serviciu{
	width: 280px;
	height: 470px;
	float: left;
	position: relative;
	background-color: #039;	
	margin-right: 8px;
	border: solid 2px #039;
	border-radius: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.last{
	margin-right: 0px !important; 
}

.serviciu h1,p{
	margin: 0px;
	text-align:center;	
	color: #fff;
	font-size: 1.25em;	
	padding: 5px;	
}

.serviciu:hover{
	background-color: #C30;
}



/*******************INCHIDERE SERVICII*******************/

/***************NOUTATI*****************/
.noutati{
	width: 1200px;
	margin: auto;
	height: auto;
	padding-top: 0px;
	
}

.proiecte{
	float: left;
	position: relative;
	width: 550px;
	height: 300px;
	border: solid 1px #039;
	margin-top: 0px;
	margin-left: 0px;
	background-color: #e5f4f8;
	border: solid 2px #039;
	border-radius: 10px;
}

.proiecte h1{
	padding-top: 0px;
	padding-left: 20px;
	text-shadow: 2px 2px 2px #F00;
}

.blog-noutati{
	float: right;
	position: relative;
	width: 550px;
	margin-right: 30px;
	height: 300px;
	border: solid 1px #039;
	margin-right: 0px;
	margin-top: 0px;
	background-color: #e5f4f8;
	border: solid 2px #039;
	border-radius: 10px;
}

.blog-noutati h1{
	padding-top: 0px;
	padding-left: 20px;
	text-shadow: 2px 2px 2px #F00;
}

/*******************INCHIDERE NOUTATI*******************/


/*******DESPRE NOI, ANALIZA TEHNICO-ECONOMICA*************/

.despre-noi, .analiza-tehnica{
	width: 1000px;
	margin: auto;
	height: 600px;
	margin-top: 60px;
}

.despre-noi h1, .analiza-tehnica h1{
	padding-left: 20px;
	font-style: italic;
	text-shadow: 2px 2px 2px #F00;
}

.despre-noi-imagine{
	float: left;
	width: 250px; 
	margin-top: 50px;
	margin-left: 30px;
}

.analiza-tehnica-imagine{
	float: left;
	width: 300px; 
	margin-top: 50px;
	margin-left: 30px;
}

.despre-noi-imagine img{
  float: left;
  position: relative;
  width: 200px; 
  height:276px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #fff;
  padding: 3px;
}

.analiza-tehnica-imagine img{
  float: left;
  position: relative;
  width: 250px; 
  height:276px;
  margin-bottom: 20px;
  border: solid 1px #fff;
  padding: 3px;
}

.despre-noi-text, .analiza-tehnica-text{
	float: left;
	position: relative;
	width: 600px;
	margin-left: 20px;
	margin-top: 50px;
	background-color: #e5f4f8;
	border: solid 1px #039;
	padding: 20px;
	border-radius: 10px;	
}

.analiza-tehnica-text p{
	color: #000;
	text-align:left;	
	font-size: 1.25em;
}

.despre-noi-text ul li, .analiza-tehnica-text ul li{
	color: #000;
	text-align:left;	
	font-size: 1.25em;
}

/*******INCHIDERE DESPRE NOI, ANALIZA TEHNICO-ECONOMICA***********/

/****************TERMOVIZIUNE******************************/
.termoviziune{
	width: 1000px;
	margin: auto;
	height: 550px;
	margin-top: 0px;
}

.termoviziune h1{
	padding-left: 20px;
	font-style: italic;
	text-shadow: 2px 2px 2px #F00;
}

.termoviziune-imagine{
	float: left;
	width: 250px; 
	margin-top: 70px;
	margin-left: 30px;
}


.termoviziune-galerie h3{
	padding-left: 20px;
	font-style: italic;
	text-shadow: 2px 2px 2px #F00;
}


.termoviziune-imagine img{
  float: left;
  position: relative;
  width: 250px; 
  height:276px;
  margin-top: 10px;
  margin-bottom: 35px;
  border: solid 1px #fff;
  padding: 3px;
}

.termoviziune-text{
	float: left;
	position: relative;
	width: 650px;
	margin-left: 20px;
	margin-top: 0px;
	background-color: #e5f4f8;
	border: solid 1px #039;
	padding: 10px;
	border-radius: 10px;	
}

.termoviziune-text p{
	color: #000;
	text-align:left;	
	font-size: 1.25em;
}

.termoviziune ul li{
	color: #000;
	text-align:left;	
	font-size: 1.25em;
}

.termoviziune-galerie{
	float: left;
	width: 800px;
	height: auto;
	margin-top: 0px;
	margin-left: 30px;
}

.termoviziune-galerie h3{
	padding-left: 20px;
	font-style: italic;
	text-shadow: 2px 2px 2px #F00;
}






/****************INCHIDERE TERMOVIZIUNE*******************/


/*******************FOOTER*******************/
.footer{
	background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
	margin-top: 0px;
	width: 100%;
	height: 100px;
}

.copyright{
	float: left;
	position: relative;
	width: 230px;
	height: 70px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
	font-weight: bold;
}

.copyright h4{
	float: left;
	position: relative;
	margin-top: 5px;
	margin-left: 25px;
	color: #ffffff;
}

.copyright img{
	position: absolute;
	top:25px;
	left: 15px;
}

#copy{
	float: right;
	position: relative;
	margin-top: 40px;
	margin-right: 22px;
}

.contacts{
	float: right;
	position: relative;
	margin-top: 1px;
	margin-right: 20px;
	width: 550px;
	height: 70px;
}

.contacts ul{
	list-style-type: none;
	position: absolute;
	top: 0px;
	left: 10px;
	height: 65px;
	color: #fff;
}

.contacts ul a{
	color: #fff;
}

.contacts ul a:hover{
	color: #F00;
}

/*******************INCHIDERE FOOTER*******************/
/***************CONTACT*****************/

.container-contact{
	width: 1140px;
	margin: auto;
}

iframe{
	margin-top: 30px;
	
}

.main{
     width: 1140px;
	 margin: auto;
	 margin-top: 30px;	 
}

.contact{
	float: left;
	height: 290px;
	position: relative;
	background-color: #e5f4f8;
	padding: 20px;
	border: solid 3px #03C;
	margin-left: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 2px #999;
	
}

.contact h1{
	text-shadow: 2px 2px 2px #F00;
}

.contact ul{
	list-style-type: none;
}

.contact ul li{
	font-weight: bold;
}

.contact ul li a{
	text-decoration: none;
	color:#000;
}

.contact ul li a:hover{
	color:#F00;
}

.formular{
	float: right;
	position: relative;
	background-color: #e5f4f8;
	padding: 40px;
	border: solid 3px #03C;
	margin-right: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 2px #999;
}

#form td:first-child{
	text-align:right;
	font-weight: bold;
	padding-right: 10px;
}

#form input[type="text"], input[type="email"], textarea{
	width: 350px;
	border: 1px solid #009;
	border-radius: 10px;
	padding: 3px 10px;
	-moz-transition : all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;	
}	

#form input[type="text"]:hover, input[type="email"]:hover, textarea:hover{
	box-shadow: 0px 0px 2px 1px #f63;	
}

#form input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
	background-color: #009;
	color:#FFF;
}

#form textarea{
	height: 100px;
	resize: none;
}

#trimite, #reset{
	background-color:#009;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	margin-top: 20px;
	margin-right: 30px;
	border: none;
	width: 100px;
	border-radius: 8px;
	border: 1px solid #F00;
	display: inline-block;
	
}


